html {
  font-size: 16px;
  color: #222;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.5rem;
  background: #FFF4FB;
  display: initial;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, div, p {
  margin: 1rem 0;
}

h1, h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

.haze {
  --color: #EAC9D9;
  --margin-percentage: 20;

  position: fixed;
  z-index: -1;
  margin: calc(var(--margin-percentage) * 1vh) calc(-100vw + calc(var(--margin-percentage) * 1vw));
  height: calc(100vh - calc(var(--margin-percentage) * 2vh));
  width: calc(100vw - calc(var(--margin-percentage) * 2vw));
  box-shadow: 100vw 0 max(20vh,20vw) max(10vh,10vw) var(--color);
}

.content {
  min-height: 80vh;
  margin: 10vh 10vw;
}

.section {
  margin: 30vh 0;
}

@media(max-height: 700px) {
  .section {
    margin: 25vh 0;
  }
}

.me {
  min-height: 35vh;
}

.me-name {
  font-weight: 500;
}

.me-title {
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.me-title-bonus {
  font-size: 1.5rem;
  font-weight: 100;
}

.section-title {
  font-weight: 500;
}

.role {
  margin: 2.5rem 0 6rem 0;
}

.role-title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.role-info {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.role-minor {
  margin-bottom: 3rem;
}

.role-info-minor {
  font-size: 1.5rem;
  font-weight: 300;
}

.role-title-minor {
  font-weight: 500;
}